$primary: #8302ab;
@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import 'navbar';

body {
    background-color: skyblue;
}

.episode-cards {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-inline: 1rem;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}